.checkout{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 3em 15em;
}

@media screen and (max-width: 1290px) {
    .checkout{
        padding: 3em 10em;
    }
}
@media screen and (max-width: 950px) {
    .checkout{
        padding: 3em;
    }
}