.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1em;
    padding: 2em 0;
}

/* @media screen and (max-width: 1000px) {
    .grid{
        padding: 2em 5em;
    }
}
@media screen and (max-width: 400px) {
    .grid{
        padding: 2em;
    }
} */