:root{
    --white-color: #fff;
    --black-color: #000;
    --blue-color: #3eb8ea;
    --green-color: rgb(98, 226, 98);
    --smoky-blue-color: #4e747e;
    --grey-color: #616161;
    --light-grey-color: #f0f0f0;
    --potters-clay-color: #9f6b28;
    --red-color: #f00;
}